
firebase==4.0.1
firebase-admin==6.9.0
Flask==3.1.1
google-api-core==2.25.1
google-api-python-client==2.172.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
itsdangerous==2.2.0
networkx==3.5
numpy==2.3.0
packaging==25.0
pyparsing==3.2.3
requests==2.32.4
rsa==4.9.1
schedule==1.2.2
scikit-fuzzy==0.5.0
scipy==1.15.3
urllib3==2.4.0
Werkzeug==3.1.3
